<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/searchbar.css" />
</head>
<body>
  <form id="searchbar" class="search-bar" action="/search-rides" method="POST">
    <div class="search-input">
      <input id="location" type="text" name="location" placeholder="Leaving from" required/>
    </div>
    <div class="search-input">
    <input id="destination" type="text" name="destination" placeholder="Going to" required/>
  </div>
  <div class="search-input">
    <input id="date" type="date" name="date"/>
</div>
<div class="search-input">
    <input id="passengers" type="number" min="1" value="1" name="passengers" placeholder="Passengers" />
  </div>
  <button class="search-btn" type="submit">Search</button>
  <div id="errDiv" style="color: red;">
  <%if(typeof error!=="undefined"){%>
    <%=error%>
  <%}%>
</div>

</form>
<script>
const date=document.getElementById("date")
const min= new Date().toISOString().slice(0,10)
date.setAttribute('min',min)
</script>
</body>
</html>
